.font-sans.min-h-screen.antialiased.text-grey.relative
  .body-content
    div
      h4.text-center.pt-6 Welcome!
      .p-4
        button.w-full.bg-blue.text-white.rounded.h-64.flex.items-center.justify-center.flex-col.mb-6
          svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='48', height='48')
            path.heroicon-ui(d='M6 2h9a1 1 0 0 1 .7.3l4 4a1 1 0 0 1 .3.7v13a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2zm9 2.41V7h2.59L15 4.41zM18 9h-3a2 2 0 0 1-2-2V4H6v16h12V9zm-5 4h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2v-2a1 1 0 0 1 2 0v2z')
          span.mt-1 Scan
        button.w-full.bg-blue.text-white.rounded.h-64.flex.items-center.justify-center.flex-col.mb-6
          svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='48', height='48')
            path.heroicon-ui(d='M8 4c0-1.1.9-2 2-2h4a2 2 0 0 1 2 2h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h2zm0 2H6v14h12V6h-2a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2zm2-2v2h4V4h-4z')
          span.mt-1 Book an Apointment
        button.w-full.bg-blue.text-white.rounded.h-64.flex.items-center.justify-center.flex-col
          svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='48', height='48')
            path.heroicon-ui(d='M4.06 13a8 8 0 0 0 5.18 6.51A18.5 18.5 0 0 1 8.02 13H4.06zm0-2h3.96a18.5 18.5 0 0 1 1.22-6.51A8 8 0 0 0 4.06 11zm15.88 0a8 8 0 0 0-5.18-6.51A18.5 18.5 0 0 1 15.98 11h3.96zm0 2h-3.96a18.5 18.5 0 0 1-1.22 6.51A8 8 0 0 0 19.94 13zm-9.92 0c.16 3.95 1.23 7 1.98 7s1.82-3.05 1.98-7h-3.96zm0-2h3.96c-.16-3.95-1.23-7-1.98-7s-1.82 3.05-1.98 7zM12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20z')
          span.mt-1 Browse Medicine
  .tabs.fixed.pin-b.w-full.flex.bg-white.shadow-lg
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/chat', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M6 14H4a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v13a1 1 0 0 1-1.7.7L16.58 18H8a2 2 0 0 1-2-2v-2zm0-2V8c0-1.1.9-2 2-2h8V4H4v8h2zm14-4H8v8h9a1 1 0 0 1 .7.3l2.3 2.29V8z')
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/', exact='', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9.56 8.93l6.37-2.12a1 1 0 0 1 1.26 1.26l-2.12 6.37a1 1 0 0 1-.63.63l-6.37 2.12a1 1 0 0 1-1.26-1.26l2.12-6.37a1 1 0 0 1 .63-.63zm-.22 5.73l4-1.33 1.32-4-4 1.34-1.32 4z')
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/user', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z')
