.font-sans.min-h-screen.antialiased.text-grey.relative
  .body-content
    div
      h4.text-center.pt-6 Welcome!
      .p-4
        router-link.no-underline.bg-blue.text-white.block.p-3.rounded.text-center(to='setmedsreminder') Check daily report
  .tabs.fixed.pin-b.w-full.flex.bg-white.shadow-lg
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/chat', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M6 14H4a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h12a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v13a1 1 0 0 1-1.7.7L16.58 18H8a2 2 0 0 1-2-2v-2zm0-2V8c0-1.1.9-2 2-2h8V4H4v8h2zm14-4H8v8h9a1 1 0 0 1 .7.3l2.3 2.29V8z')
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/', exact='', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zM9.56 8.93l6.37-2.12a1 1 0 0 1 1.26 1.26l-2.12 6.37a1 1 0 0 1-.63.63l-6.37 2.12a1 1 0 0 1-1.26-1.26l2.12-6.37a1 1 0 0 1 .63-.63zm-.22 5.73l4-1.33 1.32-4-4 1.34-1.32 4z')
    router-link.no-underline.text-black.flex-1.text-center.py-3(to='/user', active-class='text-blue')
      svg.fill-current(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24', width='24', height='24')
        path.heroicon-ui(d='M12 12a5 5 0 1 1 0-10 5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v2z')
